In [1]:
def greet():
    message="hello"
    print("local",message)

In [2]:
greet()

local hello

In [4]:
def greet():
    message="hello"
    print("local",message)
    print(message)
    greet()

In [6]:
4+5

9

In [5]:
x="awaase"

def myfunction():
    x="fantastic"
    print("python is"+x )
myfunction()
print(x)

python isfantastic
awaase

In [3]:
x = "awaase"

def myfunction():
    x = "fantastic"
    print("python is " + x)

myfunction()
print(x)

python is fantastic
awaase

In [10]:
x = 20

def add():
    y = 30
    print("local variable y =", y)
    print("global variable x =", x)
    z = x + y
    print("Sum =", z)
    
    def sub():
        m = 10
        print("local variable m =", m)

    sub()

add()

local variable y = 30
global variable x = 20
Sum = 50
local variable m = 10

In [8]:
x = 20

def add():
    y = 30
    print("local variable y =", y)
    print("global variable x =", x)
    z = x + y
    print("Sum =", z)
    
    def sub():
        m = 10
        print("local variable m =", m)

    sub()

add()

local variable y = 30
global variable x = 20
Sum = 50
local variable m = 10

In [18]:
def shahahns():
    print("shahahs")
    shahahns()

# python function argument

In [48]:
def add_number(a,b):
    sum=a+b
    print("sum",sum)

In [50]:
add_number(4,66)

sum 70

In [33]:
def def_name(name):
    print("My name is", name)

# Example usage:
def_name("shahanshah")

My name is shahanshah

In [34]:
def def_name(name):
    print("my name is ",name)

In [38]:
def_name("shahansha")

my name is  shahansha

In [40]:
def add_number(a=4,b=8):
    sum=a+b
    print("sum",sum)

In [41]:
add_number()

sum 12

In [42]:
add_number(45,66)

sum 111

In [45]:
def emp_name(name="pw skill"):
    print("my name is ",name)

In [47]:
emp_name("mohammad shaahsnaha")

my name is  mohammad shaahsnaha

# keyword argument

In [75]:
def display_info(first_name,last_name):
    print("first name",first_name)
    print("last name",lat_name)

In [69]:
display_info(first_name="pw",last_name="skill")

First name: pw
Last name: skill

In [64]:
def display_info(first_name, last_name):
    print("First name:", first_name)
    print("Last name:", last_name)

In [65]:
display_info(first_name="pw",last_name="skill")

First name: pw
Last name: skill

In [72]:
def add_number(a,b):
    sum=a+b
    print("sum",sum)

In [103]:
def add_number(a,b,c,d):
    sum=a+b
    print("sum",sum)

In [106]:
add_number(2,4,5,6)

sum 6

In [77]:
add_number(a=97,b=5)

sum 102

In [78]:
add_number(b=55,a=77)

sum 132

# *arg and **args

In [98]:
def find_number(*number):
    result=0
    for num in number:
        result=result+num
    print("sum",result)

In [99]:
find_number()

sum 0

In [100]:
find_number(1,2,3)

sum 6

In [101]:
find_number(1,2,3,4,56,7,8,)

sum 81

In [102]:
find_number(3,3,4,5,67,8,9,6,5)

sum 110

In [119]:
def def_simple(*x):
    print(x)

In [121]:
def_simple(4,5,6,4,32,)

(4, 5, 6, 4, 32)

In [122]:
def simple(*x):
    print(x)

# Example usage:
simple(1, 2, 3)

(1, 2, 3)

In [ ]:
def intro(**data):
    print("data type of argument",type(data))
    for key,value in data

In [129]:
x={"a":1,"b":2}

In [133]:
x={"a":1,"b":2}

for keys,value in x.items():
    print(keys,value)

a 1
b 2

In [134]:
x = {"a": 1, "b": 2, "c": 3}

for key, value in x.items():
    print(key, value)

a 1
b 2
c 3

In [135]:
def intro(**data):
    print("data type of argument",type(data))
    for key,value in data.items():
        print(key,value)

In [136]:
intro(firsname="pw",lastname="skill")

data type of argument <class 'dict'>
firsname pw
lastname skill

In [1]:
def single(**x):
    print(x)

In [8]:
single()

{}

In [9]:
def simple(*y):
    print(y)

In [10]:
simple(3,4)

(3, 4)

In [11]:
simple(3,4,5,6,7,8)

(3, 4, 5, 6, 7, 8)

In [12]:
def single(**x):
    print(x)

In [14]:
def shownumber(*x):
    print(x)

In [15]:
shownumber(1)

(1,)

In [16]:
shownumber(3,4,5,6,7,)

(3, 4, 5, 6, 7)

In [1]:
def showkeyvalue(**y):
    print()

In [5]:
showkeyvalue(x="1",r="5")

In [6]:
def showkeyvalue(**y):
    for key, value in y.items():
        print(f"{key}: {value}")

# Example usage:
showkeyvalue(name="John", age=25, city="New York")

name: John
age: 25
city: New York

In [7]:
x=lambda :print("shahanshah")
x()

shahanshah

In [11]:
addnum=lambda a,b:a+b

In [13]:
addnum(3,5)

8

In [14]:
multi=lambda a,b:a+b
multi(5,6)

11

In [1]:
a=int(input("enter the first number"))
b=int(input("enter the second number"))
square=lambda a,b:(a**2,b**2)
print(square(a,b))

enter the first number6
enter the second number7
(36, 49)

In [5]:
def evenodd(n):
    if n%2==0:
        print("number is even")
    else:
        print("number is odd")

In [6]:
evenodd(45)

number is odd

In [7]:
evenodd(46)

number is even

In [14]:
x=lambda n: "even " if n%2==0 else "odd"

In [15]:
x(34)

'even '

# write alambda function that accept two argument greater amount them

In [16]:
greatest_num=lambda a,b:a if a>b else b

In [19]:
greatest_num(4,6)

6

lambda function to find sum of number

In [21]:
sum_of=lambda a,b,c:(a+b+c)

In [22]:
sum_of(3,5,6)

14

In [35]:
product=[
     {"name":"product","price":50},
    {"name":"product","price":60},
    {"name":"product","price":70},
    {"name":"product","price":80},
]
#shorted()
sorted_product = sorted(product, key=lambda x: x["price"])

 #sorted_product = sorted(product, key=lambda x: x["price"])
print( sorted_product)

[{'name': 'product', 'price': 50}, {'name': 'product', 'price': 60}, {'name': 'product', 'price': 70}, {'name': 'product', 'price': 80}]

In [29]:
product = [
    {"name": "product", "price": 50},
    {"name": "product", "price": 60},
    {"name": "product", "price": 70},
    {"name": "product", "price": 80},
]

# Sorting the list of dictionaries based on the "price" key
sorted_product = sorted(product, key=lambda x: x["price"])

# Displaying the sorted list of dictionaries
print(sorted_product)

[{'name': 'product', 'price': 50}, {'name': 'product', 'price': 60}, {'name': 'product', 'price': 70}, {'name': 'product', 'price': 80}]

In [1]:
x={"name": "product", "price": 50},

In [2]:
key=lambda x:x ["price"]

writing lambdha rxpression that accept a charecter as argument and return true if it is a vowel other false
aeiou
shahansha
i a

filter
map
result

In [10]:
vowel = lambda a :"vowel" if a in ["a","e","i","o","u"] else "false"
vowel("aa")

'false'

In [8]:
vowel = lambda a: "vowel" if a.lower() in ["a", "e", "i", "o", "u"] else "false"

# Example usage:
result = vowel('a')
print(result)

vowel

In [9]:
vowel = lambda a: "vowel" if a.lower() in ["a", "e", "i", "o", "u"] else "false"

# Example usage:
vowel('a')
#print(result)

'vowel'

In [11]:
x=10

In [12]:
abs(x)

10

In [13]:
x=5

In [14]:
id(x)

4373767512

In [15]:
l=[1,2,3,4,45,]
max(l)

45

In [16]:
x=2
y=str(x)

In [17]:
y

'2'

In [18]:
type(y)

str

In [19]:
language=["python","java","swift"]

In [24]:
enumerate_price=enumerate(language,70)

In [25]:
list(enumerate_price)

[(70, 'python'), (71, 'java'), (72, 'swift')]

#list comprehension

In [26]:
list=[1,2,3,4,5,6,78,99,]

In [27]:
a=[x for x in list]

In [28]:
a

[1, 2, 3, 4, 5, 6, 78, 99]

In [29]:
for i in list:
    print(i)

1
2
3
4
5
6
78
99

In [31]:
list=[1,2,3,4,5,6,78,99,]
a =[x+1 for x in  list]

In [32]:
a

[2, 3, 4, 5, 6, 7, 79, 100]

In [33]:
list=[1,2,3,4,5,6,78,99,]
a =[x*2 for x in  list]

In [34]:
a

[2, 4, 6, 8, 10, 12, 156, 198]

In [35]:
list=[1,2,3,4,5,6,78,99,]
a =[x/2 for x in  list]

In [36]:
a

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 39.0, 49.5]

In [53]:
list=[1,2,3,4,5,6,78,99,]
a =[x+1 for x in  ist if x>4]

NameError: name 'ist' is not defined

In [54]:
a=[]

for x in ist:
    if x>4:
        a.append(x)

NameError: name 'ist' is not defined

In [51]:
a

[]

In [57]:
list=[1,2,3,4,5,6,78,99]
d=[x for x in ist if x>4 if x%2==0]

NameError: name 'ist' is not defined

In [58]:
my_list = [1, 2, 3, 4, 5, 6, 78, 99]

# Use a list comprehension to create a new list 'd' with elements greater than 4 and even
d = [x for x in my_list if x > 4 and x % 2 == 0]

# Display the result
print(d)

[6, 78]

In [63]:
list=[1,2,3,4,5,6,78,99,2]

In [64]:
e=[x if x>4 else "less then 4"for x in list]

In [62]:
e

['less then 4', 'less then 4', 'less then 4', 'less then 4', 5, 6, 78, 99]

In [ ]:
a=[]
for x in 1st:
    if x>4:
        a.append(x)
    else:
        a.append("less the 4"

In [67]:
# Assuming you have a list named '1st'
first_list = [1, 2, 6, 8, 3, 5, 7]

# Initialize an empty list 'a'
a = []

# Iterate over elements in 'first_list'
for x in first_list:
    # Check if the element is greater than 4
    if x > 4:
        # Append the element to list 'a'
        a.append(x)
    else:
        # Append the string "less than 4" to list 'a'
        a.append("less than 4")

# Display the result
print(a)

['less than 4', 'less than 4', 6, 8, 'less than 4', 5, 7]

# sesson end